nav {
    background-color: rgb(252, 255, 240);
    display: flex;
    justify-content: space-between;
    justify-items: center;
}

body {
    margin: 0;
}

.container{
    display: flex;
    align-items: center;
}
